body {
    background-color: var(--global-color-dark) !important;
}

main {
    position: relative;
    z-index: 10;
}

header {
    background-color: var(--global-color-dark);
    width: 100%;
    position: relative;
    z-index: 40;
    overflow: hidden;
}

header .content-container {
    position: relative;
    padding: 15% 5% 5% 5%;
    width: 100%;
    text-align: left;
    color: var(--text-color-light);
    z-index: 10;
    background-color: var(--global-color-dark);
}

header .content-container h1 {
    font-size: 3rem;
    font-family: var(--font-quaternary);
    font-weight: 300;
    line-height: 3.4rem;
    letter-spacing: -0.05rem;
    width: 70%;
    text-wrap: balance;
}

header .content-container h1 .header-title-dimmer {
    opacity: 0.6;
}

header .content-container h1 .header-title-lighter {
    opacity: 1;
}

header .header-bg {
    position: relative;
    background: transparent;
    height: 90%;
    width: 100%;
    z-index: 5;
}

header .header-bg img {
    width: 100%;
    object-fit: cover;
    margin-top: -5%;
}


.about {
    padding: 5% 5%;
}

.about .content-container h2 {
    font-size: 2rem;
    font-family: var(--font-quaternary);
    font-weight: 200;
    line-height: 2.6rem;
    width: 80%;
    color: var(--text-color-light);
    text-wrap: balance;
}

.about .interests-topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 3%;
}

.about .interests-topics .topics-content {
    font-family: var(--font-quaternary);
    color: var(--text-color-light);
    flex: 1;
}

.about .interests {
    margin-top: 8%;
}

.about .interests h3 {
    color: var(--text-color-light);
    font-family: var(--font-quaternary);
    font-size: 2rem;
    font-weight: 300;
}

.about .interests-topics .topics-content h4 {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 5px;
}

.about .interests-topics .topics-content p {
    font-weight: 200;
    opacity: 0.6;
    font-size: 1rem;
    text-wrap: balance;
    line-height: 1.4rem;
}


.people {
    background-color: var(--global-color-dark);
    padding: 5% 5%;
}

.people  .title-container {
    margin-bottom: 3rem;
}

.people .title-container h2 {
    font-size: 3rem;
    font-family: var(--font-quaternary);
    font-weight: 300;
    line-height: 2.6rem;
    letter-spacing: -0.05rem;
    color: var(--text-color-light);
    text-wrap: balance;
}

.people .people-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    row-gap: 6rem;
}

.people .people-list .list-profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-quaternary);
    color: var(--text-color-light);
    flex: 1;
}

.people .people-list .list-profile .profile-pic {
    width: 100%;
    height: auto;
}

.people .people-list .list-profile h3 {
    font-weight: 500;
    font-size: 1.3rem;
}
.people .people-list .list-profile p {
    margin-top: -10px;
    font-weight: 200;
    font-size: 1.2rem;
}

.people .people-list .list-profile .profile-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 1px;
}

.people .people-list .list-profile a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
    opacity: 0.6;
    cursor: pointer;
}

.people .people-list .list-profile a img {
    height: 20px;
    margin-bottom: -5px;
}



