/* MOBILE OPTIMIZATION */
@media (max-width: 768px) {
    header {
        height: auto;
        padding: 30% 5% 10% 5%;
        width: auto;
    }

    header .content-container {
        position: relative;
        left: 0;
        text-align: left;
        flex-direction: column;
        gap: 4rem;
    }

    header .content-container h1 {
        flex: none;
        font-size: 4rem;
        line-height: 4rem;
    }

    header .contact-container {
        flex-direction: column;
        gap: 2rem;
    }
}