
/*------------------------------------------------*/
/* HEADER SECTION*/
/*------------------------------------------------*/
header {
    position: relative;
    z-index: 5;
    overflow: hidden;
}

/* When in content, reduce the workload of header animations */
.in-content .rgbKineticSlider {
    opacity: 0.01; /* Not 0, to keep it somewhat active */
    pointer-events: none;
}

/* When in header, optimize for WebGL performance */
.in-header .intro,
.in-header .capabilities {
    will-change: auto; /* Reduce compositing hints for sections not in view */
}

.header-text-container,
.header-line,
.fast-container {
    transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: transform;
    transform-origin: center center;
}


/* HEADER BACKGROUND MOUSE EFFECT */
.rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform: scale(2);
    transition: transform 4.5s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: 0.27s;
}

.rgbKineticSlider.loaded {
    transform: scale(1) !important;
}

.rgbKineticSlider canvas {
    position: absolute;
    display: block;
    top: 0 !important;
    left: 0 !important;
    transform: scale(1) !important;
}


/* LIGHT FOLLOW MOUSE */
.mouse-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /*background: radial-gradient(circle at var(--x) var(--y), transparent 50%, rgba(100, 100, 100, 0.90) 90%);*/
    transition: 5.5s ease; /* Smooth transition of background over 0.5s */
    z-index: 2;
}


/* HEADER CONTENT CONTAINER */
header .content-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    width: 90%;
}


/* HEADER TEXT CONTAINER */
header .header-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
}

header .header-title {
    position: relative;
}

header .header-title h1 {
    font-family: var(--font-quaternary);
    font-size: 5em;
    letter-spacing: -3px;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
}

header .header-title h1 .header-title-dimmer {
    opacity: 0.4 !important;
}

header .header-title h1 .header-title-lighter {
    opacity: 1 !important;
}

header .scroll-downer {
    padding-bottom: 5px;
}

header .scroll-downer p {
    color: var(--text-color-light);
}

header .header-line {
    position: relative;
    opacity: 0.3;
    border: none;
    width: 0%;
    background-color: var(--text-color-light);
    height: 1px;
    margin-top: 30px;
    transition: width 4s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: 0.5s;
}

header .header-line.loaded {
    width: 100%;
}


/* HEADER FAST CONTAINER */
header .fast-container {
    margin-top: 20%;
}

header .fast-container .fast-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

header .fast-container .fast-buttons a {
    color: var(--text-color-light);
    font-family: var(--font-primary);
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0.01em;;
    cursor: pointer;
    transition: .3s;
}


/*------------------------------------------------*/
/* INTRODUCTION STYLE */
/*------------------------------------------------*/
.intro {
    position: relative;
    padding: 10%;
    background-color: var(--global-color-dark);
    z-index: 10;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro .intro-content .intro-text-h2 {
    font-family: var(--font-quaternary);
    font-size: 3.6em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.intro .intro-content .intro-text-h3 {
    font-family: var(--font-quaternary);
    font-size: 1.56em;
    letter-spacing: -0.04em;
    line-height: 1.2em;
    font-weight: 200;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
    opacity: 0.4;
    width: 60%;
    margin-top: 20px;
}

.intro .intro-content-action {
    margin-top: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.intro .intro-content-action .action-button hr {
    border: none;
    height: 1px;
    background-color: var(--text-color-light);
    opacity: 0.3;
    margin-bottom: 20px;
}

.intro .intro-content-action .action-button-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.intro .intro-content-action .action-button-cont:hover ~ hr {
    width: 10px;
}

.intro .intro-content-action .action-button-cont:hover > img {
    opacity: .9;
    margin-right: 0;
    height: 25px;
}

.intro .intro-content-action .action-button-cont p {
    color: var(--text-color-light);
    font-family: var(--font-primary);
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 0.01em;;
    cursor: pointer;
    transition: .3s;
}

.intro .intro-content-action .action-button-cont img {
    height: 20px;
    opacity: 0;
    margin-right: -10px;
    transition: all .3s ease-out;
}


/*------------------------------------------------*/
/* CAPABILITIES STYLE */
/*------------------------------------------------*/
.capabilities {
    position: relative;
    background-color: #0B0D11;
    z-index: 10;
    margin-top: 10%;
    padding: 10% 10%;
}

.capabilities .title-container h2 {
    font-family: var(--font-quaternary);
    font-size: 3.6em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.capabilities .list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-top: 50px;
}

.capabilities .list-container .list-column h3 {
    font-family: var(--font-quaternary);
    font-size: 1.6em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
    padding-bottom: 15px;
}

.capabilities .list-container .list-column-text h4 {
    font-family: var(--font-quaternary);
    font-size: 1em;
    line-height: 1em;
    font-weight: 200;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
    opacity: .6;
    padding-top: 12px;
    transition: opacity 0.1s;
}


/*------------------------------------------------*/
/* CASES STYLE */
/*------------------------------------------------*/
.cases {
    position: relative;
    background-color: #13151A;
    padding: 20% 5%;
    margin-top: -40%;
    z-index: 5;
}

.cases .title-container {
    text-align: center;
}

.cases .title-container h2 {
    font-family: var(--font-quaternary);
    font-size: 3em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.cases .client-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-top: 70px;
    margin-left: 15%;
    transition: all 0.5s ease-out;
}

.cases .client-list .company-digia {
    padding-left: 8%;
}

.cases .client-list .list-company a:hover ~ .company-text {
    opacity: 1;
    height: 240px;
}

.cases .client-list .list-company img {
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;
}

.cases .client-list .list-company img:hover {
    opacity: 1;
}

.cases .client-list .company-tieto img {
    height: 40px;
}

.cases .client-list .company-digia img {
    height: 55px;
}

.cases .client-list .company-grist img {
    height: 37px;
}

.cases .client-list .list-company .company-text {
    font-family: var(--font-quaternary);
    font-size: 1em;
    letter-spacing: -0.01em;
    line-height: 1.2em;
    color: var(--text-color-light);
    width: 80%;
    margin-top: 40px;
    opacity: 0;
    height: 10px;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.cases .client-list .list-company .company-text p:nth-child(1) {
    font-weight: 200;
}
.cases .client-list .list-company .company-text p:nth-child(2) {
    font-weight: 400;
    margin-top: 20px;
}



/*------------------------------------------------*/
/* VISION STYLE */
/*------------------------------------------------*/
.vision {
    position: relative;
    padding: 10%;
    background-color: var(--global-color-dark);
    margin-top: -35%;
    z-index: 10;
}

.vision .content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
}

.vision .vision-title {
    position: relative;
    height: 80vh;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.vision .vision-title h2 {
    font-family: var(--font-quaternary);
    font-size: 3.6em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
    opacity: 0.4;
}

.vision .title-sub {
    display: flex;
    gap: 18px;
}

.vision .vision-title .vision-title-words {
    height: 60px;
    width: auto;
    overflow: hidden;
} 

.vision .vision-title .vision-title-words ul {
    margin: 0;
    padding: 0;
    animation: textUp 15s cubic-bezier(0.16, 1, 0.3, 1);
    animation-iteration-count: infinite;
    animation-delay: 2s; 
    -webkit-animation: textUp 13s cubic-bezier(0.16, 1, 0.3, 1);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
}

.vision .vision-title .vision-title-words li {
    font-family: var(--font-quaternary);
    font-size: 3.6em;
    letter-spacing: -0.04em;
    line-height: 1em;
    font-weight: 300;
    color: var(--text-color-light);
    margin: 0;
    padding: 0;
    opacity: 1 !important;
}

@keyframes textUp {
    0% {
        margin-top: 0px;
    }
    15% {
        margin-top: -58px;
    }
    35% {
        margin-top: -58px;
    }
    50% {
        margin-top: -116px;
    }
    70% {
        margin-top: -116px;
    }
    85% {
        margin-top: 0;
    }
    100% {
        margin-top: 0px;
    }
}

.vision .vision-title .title-text-bot {
    margin-top: 20px;
}

.vision .vision-title .title-text-bot p {
    font-family: var(--font-quaternary);
    font-size: 1.56em;
    letter-spacing: -0.04em;
    line-height: 1.2em;
    font-weight: 200;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
    opacity: 0.4;
}

.vision .vision-title-action .action-button hr {
    border: none;
    height: 1px;
    background-color: var(--text-color-light);
    opacity: 0.3;
    margin-bottom: 20px;
}

.vision .vision-title-action .action-button-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.vision .vision-title-action .action-button-cont:hover ~ hr {
    width: 10px;
}

.vision .vision-title-action .action-button-cont:hover > img {
    opacity: .9;
    margin-right: 0;
    height: 25px;
}

.vision .vision-title-action .action-button-cont p {
    color: var(--text-color-light);
    font-family: var(--font-primary);
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 0.01em;;
    cursor: pointer;
    transition: .3s;
}

.vision .vision-title-action .action-button-cont img {
    height: 20px;
    opacity: 0;
    margin-right: -10px;
    transition: all .3s ease-out;
}

.vision .vision-bg .distortion {
    height: 80vh;
    width: 30vw;
}

.vision .vision-bg img {
    height: 80vh;
}


/*------------------------------------------------*/
/* CONTACT STYLE */
/*------------------------------------------------*/
.contact {
    position: relative;
    padding: 10%;
    padding-bottom: 500px;
    margin-top: 0%;
    z-index: 5;
    overflow: hidden;
}

.contact .contact-bg {
    background-image: url('../imgs/contact-1.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: brightness(0.7);
    height: 100%;
    width: 100%;
    top: -650px;
    left: 0;
    scale: 1.2;
    z-index: 1;
}

.contact .content-container {
    margin-top: -300px;
    position: relative;
    z-index: 10;
}

.contact .contact-title {
    position: relative;
    z-index: 10;
}

.contact .contact-title h2 {
    font-family: var(--font-quaternary);
    font-size: 3.6em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.contact .contact-action {
    position: relative;
    z-index: 5;
    margin-top: 8rem;
    font-family: var(--font-quaternary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.contact .contact-action h3 {
    font-size: 1.1em;
    line-height: 1.0rem; 
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.contact .contact-action .box {
    margin-top: 1.1rem;
}

.contact .contact-action .box a {
    color: var(--text-color-light);
    font-family: var(--font-quaternary);
    font-size: 0.93rem;
    font-weight: 100;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: .3s;
}


footer {
    margin-top: 0;
}