
/*------------------------------------------------*/
/* HEADER SECTION*/
/*------------------------------------------------*/
header {
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.header-text-container,
.header-line,
.fast-container {
    transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: transform;
    transform-origin: center center;
}

/* HEADER BACKGROUND MOUSE EFFECT */
.rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform: scale(2);
    transition: transform 4.5s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: 0.27s;
}

.rgbKineticSlider.loaded {
    transform: scale(1) !important;
}

.rgbKineticSlider canvas {
    position: absolute;
    display: block;
    top: 0 !important;
    left: 0 !important;
    transform: scale(1) !important;
}


/* LIGHT FOLLOW MOUSE */
.mouse-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /*background: radial-gradient(circle at var(--x) var(--y), transparent 50%, rgba(100, 100, 100, 0.90) 90%);*/
    transition: 5.5s ease; /* Smooth transition of background over 0.5s */
    z-index: 2;
}


/* HEADER CONTENT CONTAINER */
header .content-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    width: 90%;
}


/* HEADER TEXT CONTAINER */
header .header-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
}

header .header-title {
    position: relative;
}

header .header-title h1 {
    font-family: var(--font-quaternary);
    font-size: 5em;
    letter-spacing: -3px;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
}

header .header-title h1 .header-title-dimmer {
    opacity: 0.4 !important;
}

header .header-title h1 .header-title-lighter {
    opacity: 1 !important;
}

header .scroll-downer {
    padding-bottom: 5px;
}

header .scroll-downer p {
    color: var(--text-color-light);
}

header .header-line {
    position: relative;
    opacity: 0.3;
    border: none;
    width: 0%;
    background-color: var(--text-color-light);
    height: 1px;
    margin-top: 30px;
    transition: width 4s cubic-bezier(0.16, 1, 0.3, 1);
    transition-delay: 0.5s;
}

header .header-line.loaded {
    width: 100%;
}


/* HEADER FAST CONTAINER */
header .fast-container {
    margin-top: 20%;
}

header .fast-container .fast-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

header .fast-container .fast-buttons a {
    color: var(--text-color-light);
    font-family: var(--font-primary);
    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: 0.01em;;
    cursor: pointer;
    transition: .3s;
}


/*------------------------------------------------*/
/* INTRODUCTION STYLE */
/*------------------------------------------------*/
.intro {
    position: relative;
    padding: 10%;
    background-color: var(--global-color-dark);
    z-index: 10;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro .intro-content .intro-text-h2 {
    font-family: var(--font-quaternary);
    font-size: 3.6em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.intro .intro-content .intro-text-h3 {
    font-family: var(--font-quaternary);
    font-size: 1.56em;
    letter-spacing: -0.04em;
    line-height: 1.2em;
    font-weight: 200;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
    opacity: 0.4;
    width: 75%;
    margin-top: 20px;
}

.intro .intro-content-action {
    margin-top: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.intro .intro-content-action .action-button hr {
    border: none;
    height: 1px;
    background-color: var(--text-color-light);
    opacity: 0.3;
    margin-bottom: 20px;
}

.intro .intro-content-action .action-button a {
    color: var(--text-color-light);
    font-family: var(--font-primary);
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 0.01em;;
    cursor: pointer;
    transition: .3s;
}



.capabilities {
    position: relative;
    height: 100vh;
    background-color: #0B0D11;
    z-index: 10;
    margin-top: 10%;
}