body {
    background-color: var(--global-color-dark) !important;
}

main {
    position: relative;
    z-index: 10
}

header {
    background: transparent;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 40;
}

header .header-bg {
    background-image: url('/imgs/services-bg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: brightness(0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 200px;
}

header .header-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: radial-gradient(at center top, rgba(6, 7, 10, 0.0) 30%, rgba(6, 7, 10, 1.0) 70%);
    z-index: 5;
}

header .content-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    color: var(--text-color-light);
    z-index: 10;
}

header .content-container .content-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: left;
}

header .content-container h1 {
    font-size: 6rem;
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 6.5rem;
    flex: 7;
}
