body {
    background-color: var(--global-color-dark) !important;
}

main {
    position: relative;
    z-index: 10
}

header {
    background: transparent;
    padding: 15% 5% 10% 5%;
    width: 100%;
    position: relative;
    z-index: 40;
}

header .header-bg {
    background-image: url('/imgs/services-bg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: brightness(0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 200px;
}

header .header-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(at center top, rgba(6, 7, 10, 0.0) 30%, rgba(6, 7, 10, 1.0) 70%);
    z-index: 5;
}

header .content-container {
    position: relative;
    width: 90%;
    color: var(--text-color-light);
    z-index: 10;
}

header .content-container .content-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: left;
}

header .content-container h1 {
    font-size: 6rem;
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 6.5rem;
    flex: 7;
}

.capabilities {
    background-color: var(--global-color-dark);
    padding: 5% 5%;
    position: relative;
    z-index: 50;
}

.capabilities .capabilities-sector {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.capabilities .capabilities-sector .sector-selector {
    width: 50%;
}

.capabilities .capabilities-sector h3 {
    font-size: 2rem;
    font-family: var(--font-primary);
    font-weight: 300;
    color: var(--text-color-light);
}

.capabilities .capabilities-sector ul {
    margin-top: 20px;
}

.capabilities .capabilities-sector li {
    font-size: 0.9rem;
    font-family: var(--font-quaternary);
    font-weight: 100;
    color: var(--text-color-light);
    opacity: 0.7;
    letter-spacing: 0.03rem;
    list-style: none;
    padding-bottom: 5px;
}


/*------------------------------------------------*/
/* CONTACT STYLE */
/*------------------------------------------------*/
.contact {
    position: relative;
    padding: 20% 10% 5% 10%;
    padding-bottom: 500px;
    margin-top: 0%;
    z-index: 5;
    overflow: hidden;
}

.contact .contact-bg {
    background-image: url('../imgs/contact-1.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: brightness(0.7);
    height: 100%;
    width: 100%;
    top: -340px;
    left: 0;
    scale: 1.25;
    z-index: 1;
}

.contact .contact-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse 150% 60% at center top, rgba(6, 7, 10, 1.0) 10%, rgba(6, 7, 10, 0.0) 90%);
    z-index: 5;
}

.contact .content-container {
    margin-top: -300px;
    position: relative;
    z-index: 10;
}

.contact .contact-title {
    position: relative;
    z-index: 10;
}

.contact .contact-title h2 {
    font-family: var(--font-quaternary);
    font-size: 3.6em;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.contact .contact-action {
    position: relative;
    z-index: 5;
    margin-top: 8rem;
    font-family: var(--font-quaternary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.contact .contact-action h3 {
    font-size: 1.1em;
    line-height: 1.0rem; 
    font-weight: 300;
    color: var(--text-color-light);
    cursor: default;
    text-wrap: balance;
}

.contact .contact-action .box {
    margin-top: 1.1rem;
}

.contact .contact-action .box a {
    color: var(--text-color-light);
    font-family: var(--font-quaternary);
    font-size: 0.93rem;
    font-weight: 100;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: .3s;
}


footer {
    margin-top: 0;
}